<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.bcg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Project_Investing"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Imt_return_more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transaction_more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Transaction_pin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mnemonic_paste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mnemonic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".resestpwd"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".otpform"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".password"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Signup3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Signup2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Signup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>